h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
li,
small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}

.navbar {
  font: "Times New Roman", Times, serif;
  padding-left: 15%;
  padding-right: 15%;
  background-color: #212529;
  height: 100px;
}

.side-navbar-elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

.logo {
  height: 80px;
  display: flex;
  align-items: center;
}

.logo img {
  width: 80px;
  height: 80px;
}

.logo-text {
  font-weight: bold;
  font-style: italic;
  color: white;
  font-size: 3em;
}

.logo-icon {
  color: orangered;
  font-size: 4em;
}

.nav-options {
  display: flex;
  list-style-type: none;
  height: 100%;
}

.nav-option {
  display: flex;
  align-items: center;
  padding-top: 24.5px;
  padding-bottom: 24.5px;
  padding-left: 12.25px;
  padding-right: 12.25px;
  color: white;
  font-size: 2.4em;
  height: 100%;
}

.nav-option:hover {
  background-color: orangered;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: white;
}

.btn-primary {
  margin-left: 150px;
  text-decoration: none;
  border-radius: 10%;
  font-size: 20px;
  padding: 14px 18px;
  background-color: orangered;
  color: white;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.btn-primary:hover {
  background-color: rgb(185, 51, 2);
}

@media (max-width: 800px) {
  .navbar {
    padding-left: 5%;
    padding-right: 5%;
  }
  .nav-option {
    font-size: 1.5em;
  }
  .logo-icon {
    font-size: 2.6em;
  }
  .logo-text {
    font-size: 2em;
  }
  .btn-primary {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .nav-option {
    font-size: 1.2em;
  }

  .btn-primary {
    font-size: 15px;
  }
}

@media (max-width: 450px) {
  .nav-option {
    font-size: 1em;
  }

  .btn-primary {
    font-size: 15px;
  }
}
